.avatar-container {
  position: relative;
  margin-right: 30px;
}

@media screen and (max-width: 650px) {
  .avatar-container {
    margin: 0;
  }
}

.avatar-container:hover {
  opacity: 1;
  cursor: pointer;
}
