.popup__close {
  padding: 0;
  cursor: pointer;
  width: 32px;
  height: 32px;
  position: absolute;
  right: -40px;
  top: -40px;
  background-image: url(../../../image/Close_Icon.svg);
  background-repeat: repeat;
  background-size: cover;
  background-color: rgba(28, 28, 28, 0);
  border-style: none;
}

.popup__close:hover {
  opacity: 0.6;
}

@media screen and (max-width: 550px) {
  .popup__close {
    top: -36px;
    right: 0px;
    /*background-image: url(../../../image/Close_Icon-320.svg);*/
    width: 20px;
    height: 20px;
  }
}
